<div class="container">
  <div class="card">
    <label>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id auctor sem. Etiam eleifend, nisl in dictum ornare,
      odio orci tincidunt dui, blandit ultricies felis est in justo. Suspendisse efficitur interdum viverra. Vestibulum
      imperdiet massa sit amet elementum vehicula. Nunc efficitur tortor ante, eget porta nunc tincidunt ut. In velit
      nisl, ornare nec accumsan nec, ultrices ut nunc. Proin porttitor ipsum eu dui accumsan, ut luctus dui gravida. In
      non libero metus.
    </label>
  </div>

  <div class="card">
    <canvas id="barChart" width="530"></canvas>
  </div>

  <div class="card">
    <canvas id="lineChart" width="530"></canvas>
  </div>

  <div class="card">
    <canvas id="pieChart" width="530"></canvas>
  </div>
</div>