<div class="container">
  <div class="card">

    <label>
      Olá, seja bem vindo aos gráficos!
      Logo a baixo você pode escolher qual o ano que deseja ver análises.
    </label>

    <div class="comp">

      <label>
        Ano de Análise
      </label>

      <select #selectYear (change)="loadInfoYear(selectYear.value === 'Todos' ? 1 : selectYear.value)">
        <option *ngFor="let oYear of years; let i = index;">
          {{ years[years.length - (i + 1)] === 1 ? 'Todos' : years[years.length - (i + 1)] }}
        </option>
      </select>

    </div>

  </div>

  <div class="card">
    <canvas id="barChart" width="530"></canvas>
  </div>

  <div class="card">
    <canvas id="lineChart" width="530"></canvas>
  </div>

  <div class="card">
    <canvas id="pieChart" width="530"></canvas>
  </div>
</div>