@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  background-color: #181818;
}

.card {
  flex-grow: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 3px;
  background-color: #202020;
}

.container {
  // top: 65px;
  margin-left: 100px;
  display: flex;
  position: static;
  flex-wrap: wrap;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.btn-sidebar {
  display: grid;
}

.btn-sidebar-open {
  display: initial;
}

.logo-mini {
  height: 40px;
  padding-top: 5px;
  margin-left: 115px;
  filter: grayscale(30%);
}

.sidebar-open {
  overflow: auto;
  transition: 0.3s !important;
  width: 200px !important;
}

.background-modal {
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  position: absolute;
}

select {
  height: 30px;
  padding: 5px;
  color: #ffffff;
  border: #3e3e3e;
  border-radius: 3px;
  background-color: #121212;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(235, 133, 0); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(197, 112, 0); 
}

@media only screen and (max-width: 600px) {
  .header {
    position: fixed !important;
  }

  .container {
    margin-left: 0;
    max-width: 100%;
    margin-top: 50px;
    position: absolute;
  }
}